.base {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.default {
  composes: base;
  max-width: 46em;
}

.padded {
  composes: default;
  padding: 3em 1.75em;
}

.inner-one-half {
  composes: base;
  width: 50%;
}

.inner-two-thirds {
  composes: base;
  width: 66.667%;
}
