@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);

:root {
  font-family: 'Lato', 'Helvetica Nueue', 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: #525252;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4c80a5;
}
._Routes_Home__heroBackground:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}

._Routes_Home__heroBackground {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('http://everydayhero.github.io/great-us-crossing/Routes/Home/rider-hero-9bcf6ee867.jpg');
}

._Routes_Home__floatingBox {
  box-shadow: 0 0.25em 0.25em 0 rgba(140, 140, 140, 0.25);
}

._Routes_Home__contentBox {
  margin-top: 0;
  padding: 2em;
  background-color: white;
}

._Routes_Home__locationTile {
  comsposes: contentBox;
  color: white;
  background-size: cover;
  background-position: 50% 50%;
  padding: 2em;
  min-height: 4.5em;
}

._Routes_Home__locationTile h4 {
  margin-top: 0;
}

._Routes_Home__charityPlaceHolder {
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

._Routes_Home__charityPlaceHolder:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1)
}

._Routes_Home__charityPlaceHolder:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.___padding-loose   { padding: 2em; }
.___padding-default { padding: 1em; }
.___padding-tight   { padding: 0.5em; }
.___padding-none    { padding: 0; }

.___clearfix:before,
.___clearfix:after {
  content: " ";
  display: block;
}

.___clearfix:after {
  clear: both;
}
._components_BigStat__label,
._components_BigStat__number {
  display: inline-block;
}

._components_BigStat__number {
  font-size: 2.5em;
  font-weight: 900;
  margin-right: 0.125em;
}

._components_BigStat__label {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8em;
}
._components_Button__base {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  padding: 1.25em 1.75em;
  border-radius: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.125em;
}

._components_Button__default {
  background-color: #4c80a5;
  color:  white;
}

._components_Button__outlineNegative {
  background-color: transparent;
  color:  white;
  border: 0.125em solid white;
}
._components_Divider__base {
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.5em;
  background-position: 50% 50%;
  border: none;
  margin: 0;
}

._components_Divider__positive {
  background-image: url('http://everydayhero.github.io/great-us-crossing/components/Divider/positive-283011ddda.svg');
}
._components_Container__base {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

._components_Container__default {
  padding: 3em 1.75em;
  max-width: 46em;
}

._components_Container__inner-two-thirds {
  width: 66.667%;
}
._components_Section__base {
  position: relative;
}

._components_Section__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

._components_Section__darkBlue {
  background-color: #001e2c;
  color: white;
}
._components_TextContent__base * + * {
  margin-bottom: 0;
  margin-top: 1.5em;
}

._components_TextContent__base h1,
._components_TextContent__base h2,
._components_TextContent__base h3,
._components_TextContent__base h4 {
  text-transform: uppercase;
}

._components_TextContent__base h1,
._components_TextContent__base h2,
._components_TextContent__base h4 {
  font-weight: 900;
}

._components_TextContent__base h1,
._components_TextContent__base h2 {
  line-height: 1em;
}

._components_TextContent__base h1 {
  font-size: 2em;
  letter-spacing: 0.0125em;
}

._components_TextContent__base h2 {
  font-size: 1.5em;
  letter-spacing: 0.025em;
}

._components_TextContent__base h3 {
  font-size: 1em;
  line-height: 1.125em;
  letter-spacing: normal;
  font-weight: 300;
}

._components_TextContent__base img {
  width: 100%;
  max-width: auto;
}

._components_TextContent__default { }
._components_TextContent__alignCenter {
  text-align: center;
}
._components_Hero__base {
  position: relative;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0;
}

._components_Hero__background {
  background-color: #001e2c;
}

._components_Hero__content {
  position: relative;
  font-size: 1.5em;
  font-size: 3.25vmin;
  color: white;
}
._components_Logo__base {
  display: block;
  box-sizing: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

._components_Logo__base:before {
  content: '';
  display: block;
}

._components_Logo__standard { }
._components_Logo__icon { }

._components_Logo__standard:before { padding-bottom: 40%; }
._components_Logo__icon:before { padding-bottom: 100%; }

._components_Logo__positive {
  background-image: url('/components/Logo/positive.png');
  background-image: url('/components/Logo/positive.svg');
}

._components_Logo__icon-positive {
  background-image: url('/components/Logo/icon-positive.png');
  background-image: url('http://everydayhero.github.io/great-us-crossing/components/Logo/icon-positive-befe70b091.svg');
}

._components_Logo__negative {
  background-image: url('http://everydayhero.github.io/great-us-crossing/components/Logo/negative-1d8b6be6e2.png');
  background-image: url('http://everydayhero.github.io/great-us-crossing/components/Logo/negative-06b407c72a.svg');
}

._components_Steps__base {
  list-style: none;
  counter-reset: steps;
  margin: 0;
  padding: 0;
  text-align: center;
}
._components_Grid__base {
  margin-bottom: 0;
}

._components_Grid__loose   {
  margin-left: -2em;
  margin-right: -2em;
}
._components_Grid__default {
  margin-left: -1em;
  margin-right: -1em;
}
._components_Grid__tight {
  margin-left: -0.5em;
  margin-right: -0.5em;
}
._components_Grid__none {
  margin-left: 0;
  margin-right: 0;
}
._components_PrizeCategory__base {
  font-size: 0.9em;
  text-align: center;
}

._components_PrizeCategory__base * + * {
  margin-top: 0;
}

._components_PrizeCategory__image {
  max-width: 12em;
  margin-bottom: 1em;
}
._components_Grid_Item__base {
  float: left;
  margin: 0;
  box-sizing: border-box;
}

._components_Grid_Item__full {
  width: 100%;
}
._components_Grid_Item__one-half {
  width: 50%;
}
._components_Grid_Item__one-third {
  width: 33.33333%;
}
._components_Grid_Item__two-thirds {
  width: 66.66667%;
}
._components_Grid_Item__one-quarter {
  width: 25%;
}
._components_Grid_Item__three-quarters {
  width: 75%;
}
._components_Grid_Item__one-fifth {
  width: 20%;
}
._components_Grid_Item__two-fifths {
  width: 40%;
}
._components_Grid_Item__three-fifths {
  width: 60%;
}
._components_Grid_Item__four-fifths {
  width: 80%;
}

@media screen and (min-width: 700px) {
  ._components_Grid_Item__tablet-full {
    width: 100%;
  }
  ._components_Grid_Item__tablet-one-half {
    width: 50%;
  }
  ._components_Grid_Item__tablet-one-third {
    width: 33.33333%;
  }
  ._components_Grid_Item__tablet-two-thirds {
    width: 66.66667%;
  }
  ._components_Grid_Item__tablet-one-quarter {
    width: 25%;
  }
  ._components_Grid_Item__tablet-three-quarters {
    width: 75%;
  }
  ._components_Grid_Item__tablet-one-fifth {
    width: 20%;
  }
  ._components_Grid_Item__tablet-two-fifths {
    width: 40%;
  }
  ._components_Grid_Item__tablet-three-fifths {
    width: 60%;
  }
  ._components_Grid_Item__tablet-four-fifths {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  ._components_Grid_Item__desktop-full {
    width: 100%;
  }
  ._components_Grid_Item__desktop-one-half {
    width: 50%;
  }
  ._components_Grid_Item__desktop-one-third {
    width: 33.33333%;
  }
  ._components_Grid_Item__desktop-two-thirds {
    width: 66.66667%;
  }
  ._components_Grid_Item__desktop-one-quarter {
    width: 25%;
  }
  ._components_Grid_Item__desktop-three-quarters {
    width: 75%;
  }
  ._components_Grid_Item__desktop-one-fifth {
    width: 20%;
  }
  ._components_Grid_Item__desktop-two-fifths {
    width: 40%;
  }
  ._components_Grid_Item__desktop-three-fifths {
    width: 60%;
  }
  ._components_Grid_Item__desktop-four-fifths {
    width: 80%;
  }
}
._components_Steps_Step__base {
  font-size: 0.9em;
  counter-increment: steps;
  text-align: center;
}

._components_Steps_Step__base * + * {
  margin-top: 0;
}

._components_Steps_Step__stepIndicator:before {
  content: "Step " counter(steps);
  text-transform: uppercase;
}

._components_Steps_Step__image {
  max-width: 12em;
  margin-bottom: 1em;
}
._layouts_Header__base {
  font-size: 0.8em;
  position: relative;
  padding: 1em;
}

._layouts_Header__logo {
  width: 3em;
}

._layouts_Header__userNav {
  float: right;
}
._layouts_Footer__base {
  text-align: center;
  background: #00405f;
  color: white;
}

._layouts_Footer__base a {
  display: inline-block;
  color: white;
  margin-right: 0.5em;
}

._layouts_Footer__base a + a:before {
  content: '| '
}

._layouts_Footer__base img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-top: 0;
}
