<a name="about"></a>
<div class="container-fluid" id="about-box">
	<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<h2>{{{ aboutTitle }}}</h2>
        	<p>This spring, join the country's most passionate and dedicated cyclists in an epic challenge to (virtually) ride across the country, collectively covering thousands of miles in teams of up to five members to raise funds and awareness for charity.</p>  
			<p>Wherever you live, wherever you ride, whatever your pace, or fitness level – see how far you can cross. </p>
			<p>Ride for clean water. Ride for equal access to education. Ride to find a cure. Ride for refugees. Ride for the arts, for animals, for access to bikes.   Whatever your cause, ride to make a difference.  </p>
			<p>Join us.</p>
        </div>
    </div>
</div>
