<div class="container-fluid" id="page-header">
	<div class='bannerOverlay'></div>
		<div class='bannerShadow'></div>
		<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<center>{{{ siteLogo }}}</center>
        </div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<h2 id="slogan">{{{ siteSlogan }}}</h2>
        	{{{ siteHeaderText }}}
		</div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<button class="btn register-button">Register</button>
        </div>
    </div>
</div>
