<div class="container-fluid" id="register-bottom">
	<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<button class="btn register-button">REGISTER NOW</button>
        </div>
    </div>
</div>
