<a name="fundraising"></a>
<div class="container-fluid" id="charities-box">
	<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<h2>{{{ charitiesTitle }}}</h2>
            <p>It’s all about fundraising for your favorite cause.  Choose from one of ten featured charities or choose the cause that's closest to your heart.</p>
        </div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-1"></div>
    	<div class="col-md-10 text-center">
        	<span class="charity-span"></span>
        	<span class="charity-span"></span>
        	<span class="charity-span"></span>
        	<span class="charity-span"></span>
        	<span class="charity-span"></span>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row clearfix" style="display: none;">
    	<!-- waiting for copy-->
    	<div class="col-md-12 text-center">
        	<p>
            	<strong>Interested in contributing?</strong><br />
                Contribution text goes here.<br />
                <button class="btn">Learn More</button>
            </p>
        </div>
    </div>
</div>
