<a name="route"></a>
<div class="container-fluid" id="map-box">
	<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<h2>{{{ courseTitle }}}</h2>
        	<p>The Great US Crossing course starts in San Francisco and stretches over 3000 virtual miles, passing through 13 states – finishing in New York City.  As your team logs miles from rides in your own neighborhoods, the virtual course map on this website will dynamically update to move you closer to your goal.   </p>
        </div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-12 col-xs-12">
        	<img class="hidden-xs hidden-sm" id="map-image" src="img/greatuscrossing_map.png" />
        	<img class="hidden-lg hidden-md" id="map-image" src="img/greatuscrossing_map_mobile.png" />
        </div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-5 col-xs-6 text-center" id="start-box">
        	<p>
            	<strong>START</strong><br />
                Golden Gate Bridge
          	</p>	
        </div>
    	<div class="col-md-2 hidden-xs text-center">
        </div>
    	<div class="col-md-5 col-xs-6 text-center" id="finish-box">
        	<p>
    	       	<strong>FINISH</strong><br />
                New York City
          	</p>
        </div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-12 text-center">
        	How far will your team ride?
        </div>
    </div>
</div>
<div class="container-fluid" id="countdown-box">
	<div class="row clearfix">
    	<div class="col-sm-3 col-md-3 hidden-xs text-center"></div>
    	<div class="col-sm-2 col-md-2 col-xs-4">31 DAYS</div>
        <div class="col-sm-2 col-md-2 col-xs-4">300 TEAMS</div>
        <div class="col-sm-2 col-md-2 col-xs-4">3,000 MILES</div>
        <div class="col-sm-3 col-md-3 hidden-xs"></div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-12 text-center">
        	Thousands of cyclists virtually crossing the country for charity
        </div>
    </div>
</div>
<div class="container-fluid" id="break-bar">
	<div class="row clearfix">
    	<div class="col-md-12"></div>
    </div>
</div>
