<div class="container-fluid" id="footer-box">
	<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<p>Fundraising powered by: <br class="visible-xs" /><img id="edh_logo" src="img/logos/greatuscrossing_edh_logo.png" /></p>
            <p>
            	<a href="">PRIVACY POLICY</a> | 
                <a href="">TERMS &amp; CONDITIONS</a> | 
                <a href="">HELP</a>
            </p>
        </div>
    </div>
</div>
