<div class="container-fluid" id="last-joined-box">
	<div id="row clearfix">
    	<div class="col-md-12 text-center">
        	<img src="img/icons/greatuscrossing_bike_blue.png" />
        	<p>
            	No riders have joined yet...
            </p>
        </div>
    </div>
</div>
