<a name="prizes"></a>
<div class="container-fluid" id="prizes-box">
	<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<h2>{{{ prizesTitle }}}</h2>
            <p>Pedal past notable landmarks, hit key milestones, compete in physical and fundraising challenges, and win awesome prizes and sweet gear along the way.</p>
        </div>
    </div>
	<div class="row clearfix">
    	<div class="hidden-xs hidden-sm col-md-3"></div>
        <div class="col-sm-4 col-md-2 text-center">
        	<img src="img/icons/greatuscrossing_flag_red.png" />
            <p>
            	<strong>FIRST TEAM TO</strong><br />
            	Cross the Finish Line
            </p>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
        	<img src="img/icons/greatuscrossing_hands_red.png" />
            <p>
            	<strong>HIGHEST</strong><br />
            	Fundraiser
            </p>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
        	<img src="img/icons/greatuscrossing_mountains_red.png" />
            <p>
            	<strong>GREATEST</strong><br />
            	Elevation Gained
            </p>
        </div>
        <div class="hidden-sm col-md-3"></div>
    </div>
</div>
