<div class="container-fluid" id="social-media-box">
	<div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<h2>#{{{ socialMediaTitle }}}</h2>
            <p>Join our social community and share with everyone how you ride this May.</p>
        </div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-1"></div>
    	<div class="col-md-10 text-center" id="crosswithus-box">
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        	<div class="col-xs-6 col-md-3">
            	<div></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
