<div class="container-fluid" id="steps-box">
	<div class="row clearfix">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-xs-5 hidden-sm hidden-md" id="steps-vertical">
        	<img src="img/icons/greatuscrossing_vertical_steps.png" width="100%" />
        </div>
        <div class="col-sm-12 col-md-10 col-xs-7 text-center">
            <br />
            <div class="col-sm-4 col-xs-12 col-sm-4 text-center">
                <p><strong>STEP 1</strong></p>
                <p class="blue">Register</p>
                <p>Take the challenge to ride all the miles you can this May and see how far your team can go. Choose your cause and set yourself a goal. </p>
            </div>
            <div class="col-sm-4 col-xs-12 col-sm-4 text-center">
                <p><strong>STEP 2</strong></p>
                <p class="blue">Connect</p>
                <p>Use Strava or MapMyFitness to log miles. As you track your miles your team will progress across the country, working together to reach key milestones and collecting rewards along the way.   </p>
            </div>
            <div class="col-sm-4 col-xs-12 col-sm-4 text-center">
                <p><strong>STEP 3</strong></p>
                <p class="blue">Start fundraising</p>
                <p>Share your page and your journey with friends and family, and ask for their support.  Raise funds to make a difference.</p>
            </div>
        </div>
        <div class="hidden-sm col-md-1 hidden-xs"></div>
    </div>
    <div class="row clearfix hidden-xs" id="steps-icons">
    	<div class="col-md-12 text-center">
        	<br />
            <img src="img/greatuscrossing_stepsbar.png" />
        </div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-2"></div>
        <div class="col-md-2 text-center"></div>
        <div class="col-md-2 text-center"></div>
        <div class="col-md-2 text-center"></div>
        <div class="col-md-2 text-center"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row clearfix">
    	<div class="col-md-12 text-center">
        	<p>Questions before you begin? Find your answers <a href="">here</a>.</p>
        </div>
    </div>
</div>
