<div class="container-fluid" id="top-icon-slider">
	<div class="row clearfix">
    	<div class="col-md-2 col-sm-2 col-xs-1 text-right arrow-icon" id="left-arrow-link"><img src="img/icons/greatuscrossing_lessthan.png" /></div>
        <a href="#about"><div class="col-sm-2 col-xs-3 col-md-2 text-center left-button-link"><img src="img/icons/greatuscrossing_bike.png" /><br />ABOUT</div></a>
        <a href="#route"><div class="col-sm-2 col-xs-3 col-md-2 text-center left-button-link"><img src="img/icons/greatuscrossing_pin.png" /><br />ROUTE</div></a>
        <a href="#prizes"><div class="col-sm-2 col-xs-3 col-md-2 text-center left-button-link" id="trophy-link"><img src="img/icons/greatuscrossing_trophy.png" /><br />PRIZES</div></a>
        <a href="#fundraising"><div class="col-sm-2 hidden-xs col-md-2 text-center"><img src="img/icons/greatuscrossing_hands.png" /><br />FUNDRAISING</div></a>
        <div class="col-md-2 col-sm-2 col-xs-1 text-left arrow-icon" id="right-arrow-link"><img src="img/icons/greatuscrossing_greaterthan.png" /></div>
    </div>
</div>
