<div class="container-fluid" id="top-register-bar">
   	<img src="img/icons/greatuscrossing_fancybike_blue.png" />
   	<span id="top-register-links">
    	<a href="{{{ loginLinkURL }}}">LOG IN</a> | 
    	<a href="{{{ registerURL }}}">REGISTER</a>
	</span>
</div>
