.base {
  padding: 0.75em;
  border: thin solid lightgrey;
}

.number {
  font-size: 1.25em;
  line-height: 0.9em;
  font-weight: 900;
  margin-right: 0.125em;
}

.label {
  margin-top: 0.75em;
  padding-top: 0.75em;
  border-top: thin dotted lightgrey;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 0.9em;
}

@media screen and (min-width: 800px) {
  .base {
    padding: 1em;
  }

  .label {
    margin-top: 1em;
    padding-top: 1em;
  }

  .number {
    font-size: 2.5em;
  }
}
