.base {
  margin-bottom: 0;
}

.loose   {
  composes: base;
  margin-left: -2em;
  margin-right: -2em;
}
.default {
  composes: base;
  margin-left: -1em;
  margin-right: -1em;
}
.tight {
  composes: base;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.none {
  composes: base;
  margin-left: 0;
  margin-right: 0;
}
