.heroBackground:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.heroBackground {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('/Routes/Home/rider-hero.jpg');
}

.floatingBox {
  box-shadow: 0 0.25em 0.25em 0 rgba(140, 140, 140, 0.25);
}

.contentBox {
  margin-top: 0;
  padding: 2em;
  background-color: white;
}

.locationTile {
  comsposes: contentBox;
  color: white;
  background-size: cover;
  background-position: 50% 50%;
  padding: 2em;
  min-height: 4.5em;
}

.locationTile h4 {
  margin-top: 0;
}

.charityPlaceHolder {
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.2s ease;
}

.charityPlaceHolder:hover {
  transform: scale(1.1)
}

.charityPlaceHolder:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

