@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,900,900italic);

:root {
  font-family: 'Open Sans', 'Helvetica Nueue', 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: #525252;
}

:global(body) {
  margin: 0;
}

:global * {
  margin: 0;
}

:global * + * {
  margin-top: 1.5em;
}

:global main {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2a4f8b;
}
