.base {
  position: relative;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.default {
  composes: base;
}

.default h2 {
  color: #bb1c3f;
}

.darkBlue {
  composes: base;
  background-color: #001e2c;
  color: white;
}
