.base {
  float: left;
  margin: 0;
  box-sizing: border-box;
}

.full {
  composes: base;
  width: 100%;
}
.one-half {
  composes: base;
  width: calc(100% / 2);
}
.one-third {
  composes: base;
  width: calc(100% / 3);
}
.two-thirds {
  composes: base;
  width: calc(100% / 3 * 2);
}
.one-quarter {
  composes: base;
  width: calc(100% / 4);
}
.three-quarters {
  composes: base;
  width: calc(100% / 4 * 3);
}
.one-fifth {
  composes: base;
  width: calc(100% / 5);
}
.two-fifths {
  composes: base;
  width: calc(100% / 5 * 2);
}
.three-fifths {
  composes: base;
  width: calc(100% / 5 * 3);
}
.four-fifths {
  composes: base;
  width: calc(100% / 5 * 4);
}

@media screen and (min-width: 700px) {
  .medium-full {
    composes: base;
    width: 100%;
  }
  .medium-one-half {
    composes: base;
    width: calc(100% / 2);
  }
  .medium-one-third {
    composes: base;
    width: calc(100% / 3);
  }
  .medium-two-thirds {
    composes: base;
    width: calc(100% / 3 * 2);
  }
  .medium-one-quarter {
    composes: base;
    width: calc(100% / 4);
  }
  .medium-three-quarters {
    composes: base;
    width: calc(100% / 4 * 3);
  }
  .medium-one-fifth {
    composes: base;
    width: calc(100% / 5);
  }
  .medium-two-fifths {
    composes: base;
    width: calc(100% / 5 * 2);
  }
  .medium-three-fifths {
    composes: base;
    width: calc(100% / 5 * 3);
  }
  .medium-four-fifths {
    composes: base;
    width: calc(100% / 5 * 4);
  }
}

@media screen and (min-width: 1200px) {
  .regular-full {
    composes: base;
    width: 100%;
  }
  .regular-one-half {
    composes: base;
    width: calc(100% / 2);
  }
  .regular-one-third {
    composes: base;
    width: calc(100% / 3);
  }
  .regular-two-thirds {
    composes: base;
    width: calc(100% / 3 * 2);
  }
  .regular-one-quarter {
    composes: base;
    width: calc(100% / 4);
  }
  .regular-three-quarters {
    composes: base;
    width: calc(100% / 4 * 3);
  }
  .regular-one-fifth {
    composes: base;
    width: calc(100% / 5);
  }
  .regular-two-fifths {
    composes: base;
    width: calc(100% / 5 * 2);
  }
  .regular-three-fifths {
    composes: base;
    width: calc(100% / 5 * 3);
  }
  .regular-four-fifths {
    composes: base;
    width: calc(100% / 5 * 4);
  }
}
