.base {
  float: left;
  margin: 0;
  box-sizing: border-box;
}

.full {
  composes: base;
  width: 100%;
}
.one-half {
  composes: base;
  width: calc(100% / 2);
}
.one-third {
  composes: base;
  width: calc(100% / 3);
}
.two-thirds {
  composes: base;
  width: calc(100% / 3 * 2);
}
.one-quarter {
  composes: base;
  width: calc(100% / 4);
}
.three-quarters {
  composes: base;
  width: calc(100% / 4 * 3);
}
.one-fifth {
  composes: base;
  width: calc(100% / 5);
}
.two-fifths {
  composes: base;
  width: calc(100% / 5 * 2);
}
.three-fifths {
  composes: base;
  width: calc(100% / 5 * 3);
}
.four-fifths {
  composes: base;
  width: calc(100% / 5 * 4);
}
.one-sixth {
  composes: base;
  width: calc(100% / 6);
}

@media screen and (min-width: 700px) {
  .tablet-full {
    composes: base;
    width: 100%;
  }
  .tablet-one-half {
    composes: base;
    width: calc(100% / 2);
  }
  .tablet-one-third {
    composes: base;
    width: calc(100% / 3);
  }
  .tablet-two-thirds {
    composes: base;
    width: calc(100% / 3 * 2);
  }
  .tablet-one-quarter {
    composes: base;
    width: calc(100% / 4);
  }
  .tablet-three-quarters {
    composes: base;
    width: calc(100% / 4 * 3);
  }
  .tablet-one-fifth {
    composes: base;
    width: calc(100% / 5);
  }
  .tablet-two-fifths {
    composes: base;
    width: calc(100% / 5 * 2);
  }
  .tablet-three-fifths {
    composes: base;
    width: calc(100% / 5 * 3);
  }
  .tablet-four-fifths {
    composes: base;
    width: calc(100% / 5 * 4);
  }
  .tabet-one-sixth {
    composes: base;
    width: calc(100% / 6);
  }
}

@media screen and (min-width: 1200px) {
  .desktop-full {
    composes: base;
    width: 100%;
  }
  .desktop-one-half {
    composes: base;
    width: calc(100% / 2);
  }
  .desktop-one-third {
    composes: base;
    width: calc(100% / 3);
  }
  .desktop-two-thirds {
    composes: base;
    width: calc(100% / 3 * 2);
  }
  .desktop-one-quarter {
    composes: base;
    width: calc(100% / 4);
  }
  .desktop-three-quarters {
    composes: base;
    width: calc(100% / 4 * 3);
  }
  .desktop-one-fifth {
    composes: base;
    width: calc(100% / 5);
  }
  .desktop-two-fifths {
    composes: base;
    width: calc(100% / 5 * 2);
  }
  .desktop-three-fifths {
    composes: base;
    width: calc(100% / 5 * 3);
  }
  .desktop-four-fifths {
    composes: base;
    width: calc(100% / 5 * 4);
  }
  .desktop-one-sixth {
    composes: base;
    width: calc(100% / 6);
  }
}
