.base {
  appearance: none;
  display: inline-block;
  padding: 1.25em 1.75em;
  border-radius: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.125em;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.default {
  composes: base;
  color:  #2a4f8b;
  border: 0.125em solid #2a4f8b;
}

.default:hover {
  color:  white;
  background-color: #2a4f8b;
}

.outlineNegative {
  composes: base;
  background-color: rgba(255, 2555, 255, 0.1);
  background-color: transparent;
  color:  white;
  border: 0.125em solid white;
}

.outlineNegative:hover {
  background-color: rgba(255, 2555, 255, 0.5)
}
