.base {
  composes: darkBlue from '../../components/Section/styles.css';
  margin-top: 0;
  background-image: url('/layouts/Footer/footer-bg.png');
  background-size: cover;
  background-position: 50% 50%;
}

.base a {
  display: inline-block;
  color: white;
  margin-right: 0.5em;
}

.base a + a:before {
  content: '| '
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-top: 0;
}
